<div class="availableChaptersList">
    <ul class="availableChapters">
        {% for availableChapter  in availableChapters  %}
            <li>
                <a href="{{ path('chapters', {'chapterUuid': ( availableChapter['uuid'] ) }) }}" class="availableChapters"
                   data-title="{{ availableChapter['title'] }}" data-uuid="{{ availableChapter['uuid'] }}">
                {{ availableChapter['title'] }}
                </a>
            </li>

        {% endfor %}
    </ul>
</div>


