{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kata view</title>
    <script type="text/javascript" src="{{ asset('js/title-description-editorPage.js') }}"></script>

</head>
<body>
<div class="screen">
    <!-- Title section -->
    <section class="title card">
        <div class="card-content">
            <textarea id="title" name="kata-title" placeholder="Título de la kata" data-uuid={{ uuid }}></textarea>
        </div>
    </section>
    <!-- Description section -->
    <section class="description card">
        <div class="card-content">
            <span class="card-title">Descripción</span>
            <textarea id="description" name="kata-description" placeholder="Descripción de la kata" data-uuid={{ uuid }}> </textarea>
        </div>
    </section>
    <!-- Code editor section -->
    <section  class="code-editor card" >
        <div  class="card-content">
            <span class="card-title">Editor de Código</span>
            {% include 'kata_editor/editor_components/code-editor.html.twig' %}
        </div>
    </section>
    <!-- Sample test -->
    <section class="sample-test card">
        <div class="card-content">
            <span class="card-title">Test de ejemplo</span>
            {% include 'kata_editor/editor_components/sample_test.html.twig' %}
        </div>
    </section>
    <footer class="footer">
        <p>Este es un pie increible.</p>
    </footer>
</div>

</body>
{% endblock %}

