{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}">

    <meta charset="UTF-8">
    <title>Inicio</title>

</head>
<body>
<div class="screen">

    <!-- Game Trigger -->

        <section class="game-card">
            <div class="card-content">
                <h1 class="game-title">{{ gameTitle }}</h1>

            </div>
        </section>
    <section class="game-card-trigger">
        <div class="card-content">
            <a id="game-trigger-button" class="waves-effect waves-dark btn" href="{{ path('games', {'gameUuid': (gameUuid)}) }}">Jugar</a>
        </div>
    </section>


</div>
</body>
{% endblock %}
