<div class="availableKatasList">
    <ul>
        {% for availableKata in availableKatas %}

                <li class="relevantKata">
                    {{ availableKata['title'] }}
                    <a><i  class="tiny material-icons addAvailableKataToLesson"  data-title="{{ availableKata['title'] }}" data-uuid="{{ availableKata['uuid'] }}" >add_circle</i></a>
                </li>

        {% endfor %}
    </ul>
</div>
