<div class="availableKatasList">
    <ul class="availableKatas">
        {% for availableKata in availableKatas %}
                <li>
                    {{ availableKata['title'] }}
                    <a href="#"><i class="tiny material-icons availableKata"  data-title="{{ availableKata['title'] }}" data-uuid="{{ availableKata['uuid'] }}" >add_circle</i></a>
                </li>

        {% endfor %}
    </ul>
</div>
