<div id="availableKatasList">
    <ul>
        {% for availableKata in availableKatas %}

                <li id="relevantKata">
                    {{ availableKata['title'] }}
                    <a><i class="tiny material-icons addAvailableKataToLesson"  data-uuid={{ availableKata['katasUuid'] }} >add_circle</i></a>
                </li>

        {% endfor %}
    </ul>
</div>
