:root {
    --blue-color: #1E90FF;
}
/*****************
General editor_components
 *****************/
.card {

}

.card .card-content {
    padding: 5px;
}

.modal .success-message {

}
.screen {
    width: 1366px;
    height: 768px;
    margin: auto;
}
/**
 Menu component
 */
.screen .menu {
    background-color: var(--blue-color);
}
/**
Title Component
*/
.card.title {
    width:1360px;
}
.card.title textarea{
    border:none
}
/**
Description component
 */
.card.description {
    width: 500px;
    height: 400px;
    margin: 5px;
    float: left;
}
.card.description textarea{
    width: 470px;
    height: 307px;
    margin: 5px;
    float: left;
    border: none;
}
.card.description.show {
    width: 500px;
    height: 650px;
    margin: 5px;
    float: left;
}
/**
Kata-test component
 */
.card.kata-test {
    width: 500px;
    height: 240px;
    margin: 5px;
    float: left;
}
.card.kata-test .code{
    width: 470px;
    height: 160px;
    margin: 5px;
    float: left;
    border: none;
}
.card.kata-test .CodeMirror-scroll {
    height: 130px;
    max-height: 140px;
}
.card.kata-test .CodeMirror.cm-s-eclipse {
    height: 130px;
    max-height: 140px;
}
/**
Code editor component
 */
.card.code-editor {
    width: 844px;
    height: 400px;
    margin: 5px;
    float: right;
}

.card.code-editor .code {
    height: 307px;
}

.card.code-editor .btn.execute-test  {
    float: right;
    background-color: #5E6BA0;
}
/**
Examples component
 */
.card.examples {
    width: 844px;
    height: 240px;
    margin: 5px;
    float: right;
}

.card.examples .code {
    height: 160px;
    max-height: 160px;
}
.card.examples .CodeMirror-scroll {
    height: 130px;
    max-height: 140px;
}
.card.examples .CodeMirror.cm-s-eclipse {
    height: 130px;
    max-height: 140px;
}

.footer {
    text-align: center;
}
