:root {
    --blue-color: #1E90FF;
}
/*****************
General editor_components
 *****************/
.card {

}

.card .card-content {
    padding: 5px;
}

.screen {
    width: 1366px;
    height: 768px;
    margin: auto;
}

/**
 Menu component
 */
.screen .menu {
    background-color: var(--blue-color);
}
/**
Informtion Component
*/
.card.information {
    width:1360px;
    height: 220px;
}
.card.information img{
    min-width:35px;
    width: 10%;
    border:none;
    border-radius: 8%;
}
.card.information .info{
    position: absolute;
    top: 20px; left: 180px;
}
#profile_picture_thumbnail {
    max-width: 100%;
    height: auto;
}
/**
Password component
 */
.card.password {
    width: 1360px;
    height: 250px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.card.password input{
    width: 500px;
}
/**
Profile picture component
 */
.card.profile-pic {
    width: 1360px;
    height: 115px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#profile_picture_update, #profile_picture {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/**
Social component
 */
.card.social {
    width: 1360px;
    height: 190px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 10px;
}
.icon-block .material-icons {
    font-size: inherit;
}

pre{
    padding: 12px 15px 0px;
    background: #eee;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.info{
    font-size: 1.3rem;
    text-align: center;
}

