:root {
    --blue-color: #1E90FF;
}
/*****************
General editor_components
 *****************/
.card {
border:none;
}

.card .card-content {
    padding: 5px;
    border:none;
}

.screen {
    width: 1366px;
    height: 768px;
    margin: auto;
}
/**
 Menu component
 */
.screen .menu {
    background-color: var(--blue-color);
}
/**
Title Component
*/
.card.title {
    width:1360px;
}
.card.title textarea{
    border:none
}
/**
Ambient Sound Component
*/
.card.ambient-sound {
    width: 680px;
    float: left;
    border:none;
}
#ambient_sound_file_upload_ambient_sound {
    margin: 6px;
}
#ambient_sound_file_upload_submit {
    margin: 6px;
}
/**
Dialog Component
*/
.card.dialog {
    width: 680px;
    float: right;
}
#dialog_file_upload_dialog {
    margin: 6px;
}
#dialog_file_upload_submit {
    margin: 6px;
}
#ambient-sound {

}
/**
Background Image Component
*/

.card.background-image {
    margin-top: 280px;
    height: 430px;

}
.card.background-image.view {
    margin-top: 50px;
    height: 600px;
    text-align: center;
}
#background_image_file_upload_background_image {
    margin: 6px;
}
#background_image_file_upload_submit {
    margin: 6px;
}
 #background_image {
    height: 500px;
}
.saved-background-image {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.saved-files {
    font-family: Georgia, serif;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: navy;
    font-weight: 400;
    font-style: italic;
    font-variant: normal;
}
 area {
     visibility: hidden;
 }

