<ul class="collection">
    <li class="collection-item">Capítulo 2: El pirata patapalo<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
    <li class="collection-item">Capítulo 3: En busca de la función perdida<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
    <li class="collection-item">Capítulo 4: Las maestra de las clases<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
    <li class="collection-item">Capítulo 5: Regreso al futuro de las clases<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
    <li class="collection-item">Capítulo 6: Los monos de tres cabezas<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
    <li class="collection-item">Capítulo 7: Este código, ¿de quién es?<a href="#!" class="secondary-content"><i class="material-icons">add_circle_outline</i></a></li>
</ul>