
<div class="gameChaptersList">
    <ul class="gameChapters">
        {% for gameChapter in gameChapters %}
            <li>
                {{ gameChapter['title'] }}
                <a href="#"><i class="tiny material-icons gameChapter" data-title="{{ gameChapter['title'] }}" data-uuid="{{ gameChapter['uuid'] }}">clear</i></a>
            </li>
        {% endfor %}
    </ul>
</div>

