<div id="availableKatasList">

    <ul>
        {% for availableKata in availableKatas %}
            <li><h5>{{ availableKata }}<i class="tiny material-icons">add_circle</i></h5></li>
        {% endfor %}
    </ul>


</div>