
<div class="lessonKatasList">
    <ul class="lessonKatas">
        {% for lessonKatas in lessonKatasArray %}
            <li>
                <a href="{{ path('kata', {'uuid': ( lessonKatas['uuid'] ) }) }}" class="lessonKatas" data-title="{{ lessonKatas['title'] }}" data-uuid="{{ lessonKatas['uuid'] }}">
                {{ lessonKatas['title'] }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
