{% extends 'base.html.twig' %}



{% block body %}

    <!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juego Edit</title>

</head>
<body>
<div class="screen">
    <!-- Title section -->
    <section class="title card">
        <div class="card-content">
            <textarea id="title" name="game-title" placeholder="Título del juego" data-uuid={{ gameUuid }}></textarea>
        </div>
    </section>
    <!-- List of Chapters section -->
    <section class="available-chapters card">
        <div class="card-content">
            <span class="card-title">Capítulos</span>
            <p>Listado de capítulos disponibles para incluir en la lección</p>
            {% include 'games_editor/components/availableChapters.html.twig' %}
        </div>
    </section>
    <!-- Ordered List of Game Chapters section -->
    <section class="game-chapters card">
        <div class="card-content">
            <span class="card-title">Capítulos del Juego</span>
            <p>Puedes arrastrar las katas para cambiar el orden o eliminar una kata</p>
            {% include 'games_editor/components/gameChapters.html.twig' %}
        </div>
    </section>
</body>
{% endblock %}