{% extends 'base.html.twig' %}



{% block body %}

    <!DOCTYPE html>
    <html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juego View</title>

</head>
<body>
<div class="screen">
    <!-- Title section -->
    <section class="title view-card">
        <div class="card-content">
            <h1>{{ gameTitle }}</h1>
        </div>
    </section>
    <!-- Ordered List of Game Chapters section -->
    <section class="game-chapters-view card">
        <div class="card-content">
            <span class="card-title">Capítulos del Juego</span>
            <p>Listado de capítulos de la lección</p>
            {% include 'games/components/gameChapters.html.twig' %}
        </div>
    </section>
</body>
{% endblock %}