<div class="availableStagesList">
<ul class="availableStages">
    {% for availableStage in availableStages %}
        <li>
            {{ availableStage['stageTitle'] }}
            <a href="#"><i class="tiny material-icons availableStage"  data-title="{{ availableStage['stageTitle'] }}" data-uuid="{{ availableStage['stageUuid'] }}" >add_circle</i></a>
        </li>
    {% endfor %}
</ul>
</div>