<div class="availableLessonsList">
<ul class="availableLessons">
    {% for availableLesson in availableLessons %}
        <li>
            {{ availableLesson['lessonTitle'] }}
            <a href="#"><i class="tiny material-icons availableLesson"  data-title="{{ availableLesson['lessonTitle'] }}" data-uuid="{{ availableLesson['lessonUuid'] }}" >add_circle</i></a>
        </li>
    {% endfor %}
</ul>
</div>