<div class="chapter_lessons_stages_collection_list">
    <ul class="chapter_lessons_stages_collection">
        {% for chapterElement in chapterElementsArray %}
            <li>
                {{ chapterElement['title'] }}

                <a href="#"><i class="{{ elementClass }}" data-title="{{ chapterElement['title'] }}" data-uuid="{{ chapterElement['uuid'] }}">clear</i></a>
            </li>
        {% endfor %}
    </ul>
</div>

