{% extends 'base.html.twig' %}

{% block title %}Página de perfil{% endblock %}
{% block body %}
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/cookies.css') }}">
</head>

<body>

<div class="screen">
    <!-- Title section -->
    <section class="title card">
        <div class="card-content">
            <h1 id="cookies-document-title">Política de cookies</h1>
            <p>
                <i>Esta declaración de cookies fue actualizada por última vez en 01 de julio de 2020 y se aplica a los ciudadanos del Espacio Económico Europeo.</i>
            </p>
        </div>
    </section>
    <!-- Title section -->
    <section class="policies card">
        <div class="card-content">
            <h2 class="subject-of-cookies-policy">1. Introducción</h2>
            <p>Nuestro sitio web,&nbsp;&nbsp;(en adelante: “el sitio web”) utiliza cookies y otras tecnologías relacionadas (para mayor comodidad, todas las tecnologías se denominan “cookies”). Las cookies también son colocadas por terceros que hemos contratado. En el siguiente documento le informamos sobre el uso de cookies en nuestro sitio web.</p>
            <h2 class="subject-of-cookies-policy">2. ¿Qué son las cookies?</h2>
            <p>Una cookie es un pequeño archivo simple que se envía junto con las páginas de este sitio web y que su navegador almacena en el disco duro de su ordenador o de otro dispositivo. La información almacenada puede ser devuelta a nuestros servidores o a los servidores de los terceros relevantes durante una visita posterior.</p>
            <h2 class="subject-of-cookies-policy">3. ¿Qué son los scripts?</h2>
            <p>Un script es un fragmento de código de programa que se utiliza para hacer que nuestro sitio web funcione correctamente y de forma interactiva. Este código se ejecuta en nuestro servidor o en su dispositivo.</p>
            <h2 class="subject-of-cookies-policy">4. ¿Qué es una baliza web?</h2>
            <p>Una baliza web (o una etiqueta de píxel) es una pequeña e invisible pieza de texto o imagen en un sitio web que se utiliza para monitorear el tráfico en un sitio web. Para ello, se almacenan varios datos sobre usted mediante web beacons.</p>
            <h2 class="subject-of-cookies-policy">5. Consentimiento</h2>
            <p>
                Cuando visite nuestro sitio web por primera vez, le mostraremos una ventana emergente con una explicación sobre las cookies. Tan pronto como haga clic en “Aceptar” o «Guardar y cerrar», nos autoriza a utilizar las categorías de cookies y plug-ins que seleccionó en la ventana emergente, tal y como se describe en esta declaración de cookies. Usted puede desactivar el uso de cookies a través de su navegador o desde este enlace de <a id="wt-cli-settings-btn" tabindex="0" role='button' style="display:inline-block; background:#fff; border-radius:2px; text-align:center; font-size:14px; padding:5px 8px; margin-left:10px; border:solid 1px #f4f4f9; line-height:18px;" class="wt-cli-element medium cli-plugin-button cli-plugin-main-button cli_settings_button">Configuración</a>
                , pero tenga en cuenta que es posible que nuestro sitio web ya no funcione correctamente.
            </p>

                <h4 class="subheader-of-cookies-policy">5.1 Administración de configuración de consentimiento</h4>

            <p style="margin-bottom: 0.53cm; line-height: 100%;">El usuario tiene el derecho de mostrar su conformidad a través de la prestación del consentimiento que solicitaremos al visitar nuestra web.</p>
            <p style="margin-bottom: 0.53cm; line-height: 100%;">Dicho consentimiento podrá ser modificado en todo momento.</p>
            <h2 class="subject-of-cookies-policy">6. Cookies</h2>
            <p>
                <h4 class="subheader-of-cookies-policy">6.1 Cookies técnicas o funcionales</h4>

            <p>Algunas cookies aseguran que ciertas partes del sitio web funcionen correctamente y que sus preferencias de usuario sigan siendo conocidas. Al colocar cookies funcionales, le facilitamos la visita a nuestro sitio web. De esta manera, usted no necesita introducir repetidamente la misma información cuando visita nuestro sitio web y, por ejemplo, los artículos permanecen en su cesta de la compra hasta que usted haya pagado. Podemos colocar estas cookies sin su consentimiento.</p>
            <p>
                <h4 class="subheader-of-cookies-policy">6.2 Cookies analíticas</h4>

            <p>Son aquéllas que bien tratadas por nosotros o por terceros, nos permiten cuantificar el número de usuarios y así realizar la medición y análisis estadístico de la utilización que hacen los usuarios del servicio ofertado. Para ello se analiza su navegación en nuestra página web con el fin de mejorar la oferta de productos o servicios que le ofrecemos.</p>
            <p>
                <h4 class="subheader-of-cookies-policy">6.3 Cookies de publicidad</h4>

            <p>Son aquellas que, bien tratadas por nosotros o por terceros, nos permiten gestionar de la forma más eficaz posible la oferta de los espacios publicitarios que hay en la página web, adecuando el contenido del anuncio al contenido del servicio solicitado o al uso que realice de nuestra página web. Para ello podemos analizar sus hábitos de navegación en Internet y podemos mostrarle publicidad relacionada con su perfil de navegación.</p>
            <p>
                <h4 class="subheader-of-cookies-policy">6.4 Botones de medios sociales</h4>

            <p>En nuestro sitio web hemos incluidos botones para publicitar paginas (p.e. “like, “pin”) o compartirlas (p.e. “tweet”) en redes sociales como. Estos botones funcionan usando código de ellos mismos. Este código incrusta cookies. Estos botones de redes sociales pueden almacenar y procesar cierta información, así que se te puede ser mostrado un anuncio personalizado.</p>
            <p>Por favor lee la política de privacidad de estas redes sociales (que puede cambiar frecuentemente) para saber que hacen con tus datos (personales) que procesan usando estas cookies. Los datos que reciben son anonimizados el máximo posible están ubicados en los Estados Unidos</p>
            <h2 class="subject-of-cookies-policy">7. Cookies usadas</h2>
            A continuación le indicamos las cookies utilizadas en este sitio
            <table class="wt-cli-element cookielawinfo-classic cookielawinfo-row-cat-table">
                <thead>
                <tr>
                    <th scope="col" class="cookielawinfo-column-1">Cookie</th>
                    <th scope="col" class="cookielawinfo-column-3">Duración</th>
                    <th scope="col" class="cookielawinfo-column-4">Descripción</th>
                </thead>
                <tbody>
                <tr class="cookielawinfo-row-cat-title">
                    <th colspan="3" class="cookielawinfo-row-cat-title-head">Necesarias</th>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-preferences</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given the consent to the usage of cookies under the category &#8216;Preferences &#8217;.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-analytics</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given the consent to the usage of cookies under the category &#8216;Analytics &#8217;.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-advertisement</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given their consent to the usage of cookies under the category &#8216;Advertisement &#8217;.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-performance</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The purpose of this cookie is to check whether or not the user has given the consent to the usage of cookies under the category &#8216;Performance &#8217;.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-uncategorized</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4"></td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">viewed_cookie_policy</td>
                    <td class="cookielawinfo-column-3">11 months</td>
                    <td class="cookielawinfo-column-4">The cookie is set by the GDPR Cookie Consent plugin and is used to store whether or not user has consented to the use of cookies. It does not store any personal data.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-necessary</td>
                    <td class="cookielawinfo-column-3">11 months</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category «Necessary».</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">cookielawinfo-checkbox-non-necessary</td>
                    <td class="cookielawinfo-column-3">11 months</td>
                    <td class="cookielawinfo-column-4">This cookie is set by GDPR Cookie Consent plugin. The cookies is used to store the user consent for the cookies in the category «Non Necessary».</td>
                </tr>
                <tr class="cookielawinfo-row-cat-title">
                    <th colspan="3" class="cookielawinfo-row-cat-title-head">Analiticas</th>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_ga</td>
                    <td class="cookielawinfo-column-3">2 years</td>
                    <td class="cookielawinfo-column-4">This cookie is installed by Google Analytics. The cookie is used to calculate visitor, session, camapign data and keep track of site usage for the site &#8217;s analytics report. The cookies store information anonymously and assigns a randoly generated number to identify unique visitors.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_gid</td>
                    <td class="cookielawinfo-column-3">1 day</td>
                    <td class="cookielawinfo-column-4">This cookie is installed by Google Analytics. The cookie is used to store information of how visitors use a website and helps in creating an analytics report of how the wbsite is doing. The data collected including the number visitors, the source where they have come from, and the pages viisted in an anonymous form.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_gat_UA-53594701-1</td>
                    <td class="cookielawinfo-column-3">1 minute</td>
                    <td class="cookielawinfo-column-4">This is a pattern type cookie set by Google Analytics, where the pattern element on the name contains the unique identity number of the account or website it relates to. It appears to be a variation of the _gat cookie which is used to limit the amount of data recorded by Google on high traffic volume websites.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_uetsid</td>
                    <td class="cookielawinfo-column-3">1 day</td>
                    <td class="cookielawinfo-column-4">Set by Google Tag Manager to store and track visits across websites.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_uetvid</td>
                    <td class="cookielawinfo-column-3">2 weeks</td>
                    <td class="cookielawinfo-column-4">Set by Google Tag Manager to store and track visits across websites.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">GPS</td>
                    <td class="cookielawinfo-column-3">30 minutes</td>
                    <td class="cookielawinfo-column-4">This cookie is set by Youtube and registers a unique ID for tracking users based on their geographical location</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">YSC</td>
                    <td class="cookielawinfo-column-3"></td>
                    <td class="cookielawinfo-column-4">This cookies is set by Youtube and is used to track the views of embedded videos.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">MR</td>
                    <td class="cookielawinfo-column-3">1 week</td>
                    <td class="cookielawinfo-column-4">This cookie is used to measure the use of the website for analytics purposes.</td>
                </tr>
                <tr class="cookielawinfo-row-cat-title">
                    <th colspan="3" class="cookielawinfo-row-cat-title-head">No necesarias</th>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">test_cookie</td>
                    <td class="cookielawinfo-column-3">11 months</td>
                    <td class="cookielawinfo-column-4">This cookie is set by doubleclick.net. The purpose of the cookie is to determine if the users &#8217;browser supports cookies.</td>
                </tr>
                <tr class="cookielawinfo-row-cat-title">
                    <th colspan="3" class="cookielawinfo-row-cat-title-head">Publicidad</th>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">IDE</td>
                    <td class="cookielawinfo-column-3">2 years</td>
                    <td class="cookielawinfo-column-4">Used by Google DoubleClick and stores information about how the user uses the website and any other advertisement before visiting the website. This is used to present users with ads that are relevant to them according to the user profile.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">VISITOR_INFO1_LIVE</td>
                    <td class="cookielawinfo-column-3">5 months</td>
                    <td class="cookielawinfo-column-4">This cookie is set by Youtube. Used to track the information of the embedded YouTube videos on a website.</td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">_gcl_au</td>
                    <td class="cookielawinfo-column-3">2 months</td>
                    <td class="cookielawinfo-column-4"></td>
                </tr>
                <tr class="cookielawinfo-row">
                    <td class="cookielawinfo-column-1">MUID</td>
                    <td class="cookielawinfo-column-3">1 year</td>
                    <td class="cookielawinfo-column-4">Used by Microsoft as a unique identifier. The cookie is set by embedded Microsoft scripts. The purpose of this cookie is to synchronize the ID across many different Microsoft domains to enable user tracking.</td>
                </tr>
                </tbody>
            </table>

            <h2 class="subject-of-cookies-policy">8. Sus derechos con respecto a los datos personales</h2>

            <p>Usted tiene los siguientes derechos con respecto a sus datos personales:</p>
            <ul>
                <li>Usted tiene derecho a saber por qué se necesitan sus datos personales, qué sucederá con ellos y durante cuánto tiempo se conservarán.</li>
                <li>Derecho de acceso: Usted tiene derecho a acceder a sus datos personales que conocemos.</li>
                <li>Derecho de rectificación: tiene derecho a completar, rectificar, borrar o bloquear sus datos personales cuando lo desee.</li>
                <li>Si usted nos da su consentimiento para procesar sus datos, tiene derecho a revocar dicho consentimiento y a que se eliminen sus datos personales.</li>
                <li>Derecho de cesión de sus datos: tiene derecho a solicitar todos sus datos personales al responsable del tratamiento y a transferirlos íntegramente a otro responsable del tratamiento.</li>
                <li>Derecho de oposición: usted puede oponerse al tratamiento de sus datos. Nosotros cumplimos con esto, a menos que existan motivos justificados para el procesamiento.</li>
            </ul>
            <p>Para ejercer estos derechos, póngase en contacto con nosotros. Por favor refiérase a los detalles de contacto en la parte inferior de esta declaración de cookies. Si tiene alguna queja sobre cómo manejamos sus datos, nos gustaría saber de usted, pero también tiene derecho a presentar una queja a la autoridad supervisora (la Autoridad de Protección de Datos).</p>
            <h2 class="subject-of-cookies-policy">9. Habilitación/deshabilitación y eliminación de cookies</h2>
            <p>Puede utilizar su navegador de Internet para eliminar las cookies de forma automática o manual. Usted también puede especificar que ciertas cookies no pueden ser colocadas. Otra opción es cambiar la configuración de su navegador de Internet para que reciba un mensaje cada vez que se coloca una cookie. Para obtener más información sobre estas opciones, consulte las instrucciones de la sección Ayuda de su navegador.</p>
            <p>Tenga en cuenta que nuestro sitio web puede no funcionar correctamente si todas las cookies están deshabilitadas. Si borra las cookies de su navegador, se volverán a colocar después de su consentimiento cuando vuelva a visitar nuestros sitios web.</p>
            <h2 class="subject-of-cookies-policy">10. Detalles de contacto</h2>
            <p>Para preguntas y/o comentarios sobre nuestra política de cookies y esta declaración, póngase en contacto con nosotros utilizando los siguientes datos de contacto:</p>
            <br>
            <p> Desarrolladores: <a href="https://github.com/Lospitao">Laura Lospitao Pastor</a> y <a href="https://github.com/eltortuganegra">Jorge Sánchez Fernández</a></p> <br>
            <p> Email:&nbsp;<b>myphpisland@gmail.com</b>
                <br><br><br><br><br>

        </div>
    </section>
</div>
{% endblock %}
