
    <ul class="availableStages">
        {% for availableStage in availableStages %}
            <li>
                <a href="{{ path('stages', {'stageUuid': ( availableStage['stageUuid'] ) }) }}" class="availableStage" data-title="{{ availableStage['stageTitle'] }}" data-uuid="{{ availableStage['stageUuid'] }}">{{ availableStage['stageTitle'] }}
                </a>
            </li>
        {% endfor %}
    </ul>


