{% extends 'base.html.twig' %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kata view</title>
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>

</head>
<body>
<div class="screen">

    <!-- Description section -->
    <section class="description card show">
        <div class="card-content">
            <span class="card-title">Descripción</span>
            {% apply markdown_to_html %}
                {{ description }}
            {% endapply %}

        </div>
    </section>
    <!-- Code editor section -->
    <section class="code-editor card">
        <div class="card-content">
            <span class="card-title" data-uuid={{ uuid }}>Editor de Código</span>
            {% include 'kata/components/code-editor.html.twig' %}
            <button id="test-executor" class="btn modal-trigger execute-test">Ejecutar test</button>
        </div>
    </section>
    <!-- Sample test -->
    <section class="sample-test card">
        <div class="card-content">
            <span class="card-title" data-uuid={{ uuid }}>Test de ejemplo</span>
            {% include 'kata/components/sample_test.html.twig' %}
        </div>
    </section>
    <footer class="footer">
        <p>Este es un pie increible.</p>
    </footer>
</div>
<section class="modals">
    <!-- Modal Structure -->
    <div id="modal-success-message" class="modal success-message">
        <div class="modal-content">
            <h4>¡Yo-ho-ho!</h4>
            <p>¡Esa es la respuesta correcta!</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-blue btn-flat">Continuar</a>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal-fail-message" class="modal fail-message">
        <div class="modal-content">
            <h4>¡Por el amor de una madre!</h4>
            <p>¡Los dioses acaban de matar aun mono de tres cabezas!</p>
            <p>Revisa el código fuente.</p>
        </div>
    </div>
</section>
</body>
{% endblock %}



